div.row
  div.span12
    h2
      a(href='/feeds/' + feed.name)= feed.meta.title

    div.row
      div.span8
        if feed.articles
          dl
            each article in feed.articles.slice(0, 5)
              dt= article.title
              dd= (article.content || '').substr(0, 100)
            if (feed.articles.length > 5)
              div= '+' + (feed.articles.length - 5) + ' more'
        else
          em No articles
      div.span4
        != partial('manage_menu', feed)
        Has #{feed.articles.length} items

